@charset "utf-8";

form {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include sp{
        width: 95%;
    };
}
.form-group{
    width: 300px;
}
form input {
    width: 100%;
}



#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
