@charset "utf-8";

body {
    font: 13px Helvetica, Arial;
}

.userData{
    position: fixed;
    top:10px;
    right:10px;
    background: #fff;
    width: 20%;
    padding: 20px;
	border-radius: 10px;
	text-align: center;
	font-weight: bold;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 0.5em;
}

#messages li:nth-child(odd) {
    background: #eee;
}
.login{
    background: #4C9689 !important;
    color: #fff !important;
}
.logout{
    background: #D72B3F !important;
    color: #fff !important;
}
.chatArea{
    width: 20%;
    height: 60vh;
    overflow-y: auto;
    position: fixed;
    top:75px;
    right:10px;
    background:rgba(255,255,255,0.9);
	font-size: 12px;
	line-height: 1.5;
    margin-top: 0.5em;
    @include pc{
        box-sizing: content-box;
    }
}
.username{
    font-size: 13px;
    display: block;
}
.time{
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
}
