@charset "utf-8";

body {
    font: 13px Helvetica, Arial;
}

.msgForm {
    background: #888;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.msgForm input {
    border: 0;
    padding: 1em;
    width: 80%;
    background: #fff;
    border-radius: .3rem;
    font-size: 16px;
    @include sp{
        width: 70%;
    };
}

.msgForm button {
    width: 15%;
    @include sp{
        width: 25%;
    };
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}
.login{
    background: #55C500 !important;
    color: #fff !important;
}
.logout{
    background: #FF8095 !important;
    color: #fff !important;
}
.chatArea{
    height: calc(100vh - 128px);
    padding-top: 55px;
    padding-bottom: 73px;
    overflow-y: auto;
    @include pc{
        box-sizing: content-box;
    }
}
.username{
    font-size: 13px;
    display: block;
}
.time{
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2em;
}
.msg{
    font-size: 20px;
    margin-top: 0.5em;
}
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: #888;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    z-index: 99;
}
.invBtn{
    margin-left: 10px;
}
.logoutBtn{
    a{
        color: #fff;
    }
}
