<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        seekers
    </title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body id="login">
    <form method="post" action="/game">
        <div class="form-group">
            <input type="text" name="username" placeholder="お名前"/ class="form-control">
        </div>
        <div class="form-group">
            <input type="email" name="email" placeholder="メールアドレス"/ class="form-control">
        </div>
        <button class="btn btn-primary btn-lg">ゲームスタート</button>
    </form>
</body>

</html>
